<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador</title>
</head>

<body>
    <h1>Administrador</h1>

    <h1>Pedidos</h1>

    {% for pedido in pedidos %}

        <div>

            <p>Pedido #{{ pedido.id }}</p>

            <p>Cliente: {{ pedido.nome_cliente }}</p>

            <p>Total: R$ {{ pedido.total }}</p>

            <p>Status atual: {{ pedido.status }}</p>

            <form
                action="/admin/pedido/{{ pedido.id }}/status"
                method="POST"
            >

                <select name="status">

                    <option value="pendente">
                        Pendente
                    </option>

                    <option value="em preparo">
                        Em preparo
                    </option>

                    <option value="entregue">
                        Entregue
                    </option>

                </select>

                <button type="submit">
                    Atualizar
                </button>

            </form>

            <hr>

        </div>

    {% endfor %}

    <form action="/admin/produto" method="POST">

        <input
            type="text"
            name="nome"
            placeholder="Nome"
        >

        <input
            type="number"
            step="0.01"
            name="preco"
            placeholder="Preço"
        >

        <input
            type="text"
            name="imagem"
            placeholder="URL da imagem"
        >

        <button type="submit">
            Cadastrar
        </button>

    </form>


    <hr>


    {% for produto in produtos %}

        <p>
            {{ produto.nome }} -
            R$ {{ produto.preco }}
        </p>

    {% endfor %}
</body>
</html>