<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Pizzaria Pinto's</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>

  <div class="container">
    <img src="{{ url_for('static', filename='img/pizza-logo.png') }}" class="logo" alt="logo">

    <h1>Pizzaria Pinto’s</h1>
    <p class="since">Since 2026</p>

    <h2>Peça sua pizza!</h2>

    <div class="buttons">
      <button id="cardapioBtn">Cardápio</button>
    </div>
  </div>

  <script src="/static/js/home.js"></script>
</body>
</html>